@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Neulis';
  src: url('/font/Neulis/Neulis.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFF6EF;
  --foreground: #343535;
  --primary: #FF8E49;
  --secondary: #FFC0C5;
  --button: #FF8E49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-button: var(--button);
  --font-sans: 'Poppins', sans-serif;
  --font-display: 'Neulis', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF6EF;
    --foreground: #343535;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}